<!doctype html>
<html lang="en">

<head>
	<title>PAM</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<script src="https://kit.fontawesome.com/d7d7ee6600.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fresca&family=Josefin+Sans&family=Pacifico&display=swap"
		rel="stylesheet">
</head>

<body>

	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar" class="active" style="position:fixed;z-index:1;background:#000000;">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn-primary"
					style="background:#000000; border-radius:90px;width:40px;height:40px;">
					<i class="fa fa-bars"></i>

				</button>
			</div>
			<div class="p-4">
				<h1><a href="/home" class="logo" style="font-family: 'Fresca', sans-serif;">PAM</a></h1>
				<ul class="list-unstyled components mb-5">
					<li class="active">
						<a href="/home"><span class="fa fa-home mr-3"></span> Home</a>
					</li>
					<li>
						<a href="/about"><span class="fa fa-user mr-3"></span> About</a>
					</li>
					<li>
						<a href="/exer_main"><i class="fas fa-dumbbell mr-3"></i> Exercise</a>
					</li>
					<li>
						<a href="/yoga"><i class="fas fa-running mr-3"></i> Yoga</a>
					</li>
					<li>
						<a href="/manual"><i class="fas fa-info mr-3"></i> Muscle Info</a>
					</li>
					<li>
						<a href="/touch_game"><i class="fa fa-gamepad mr-3" aria-hidden="true"></i> Game 1</a>
					</li>
					<li>
						<a href="/touch_game_hand"><i class="fa fa-hand-stop-o mr-3" aria-hidden="true"></i> Game 2</a>
					</li>

				</ul>

				<div class="mb-3">
					<h3 class="h6 mb-3">Subscribe for newsletter</h3>
					<form action="/contact" class="subscribe-form" method="POST">
						<div class="form-group d-flex"
							style="height:110px;padding-left:12px;padding-right:12px;margin-bottom: 0px;">
							<div class="icon"><span class="icon-paper-plane"></span></div>
							<ul class="list-unstyled components mb-5">
								<li><input style="background:#000000; color:#fff ;" type="text" name="fname"
										class="form-control" placeholder="First Name"
										style="margin-top:10px;margin-bottom:10px;"></li>
								<li><input style="background:#000000; color:#fff ;" type="text" name="lname"
										class="form-control" placeholder="Last Name"
										style="margin-top:10px;margin-bottom:10px;"></li>
								<li><input style="background:#000000; color:#fff ;" type="email" name="emailadd"
										class="form-control" placeholder="Email Address"
										style="margin-top:10px;margin-bottom:10px;"></li>
							</ul>

						</div>
						<button class="btn-primary btn-block" type="submit"
							style="margin-top:5px;margin-bottom:10px;background:#000000;height:40px;width:200px;">Sign
							Me Up</button>
					</form>
				</div>

				<div class="footer">
					<p><a href="/" onmouseover="this.style.color='white'" style="color: #fff"><i
								class="fa fa-sign-out mr-3" aria-hidden="true"></i> Log Out</a></p>
					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>
					</p>
					<p> All rights reserved
					</p>
				</div>

			</div>
		</nav>