<html>
    <head>
        <title> Bicep Curl</title>
        <link rel="stylesheet" href="css/bicep.css">

    </head>
    <body>
        <section>
            <div class="content">
                <h1>BICEP CURL</h1>
                <p>
                    A biceps curl usually starts with the arm in a fully extended position, holding a weight with a supinated (palms facing up) grip. A full repetition consists of bending or "curling" the elbow until it is fully flexed, then slowly lowering the weight to the starting position.
                </p>
             <p>
                 <h2> To do Bicep Curl</h2>
                 <ol>
               <li>Begin standing tall with your feet about hip-width apart. Keep your abdominal muscles engaged. </li>
               <li> Hold one dumbbell in each hand. Let your arms relax down at the sides of your body with palms facing forward.</li>
               <li> Keeping your upper arms stable and shoulders relaxed, bend at the elbow and lift the weights so that the dumbbells approach your shoulders. Your elbows should stay tucked in close to your ribs. Exhale while lifting.</li>
               <li>Lower the weights to the starting position</li>
               <li>Do 8–10 curls, then rest and do one or two more sets.</li>
               
               </ol>
               <h1> BENEFITS</h1>
               <p>Curls work the biceps muscles at the front of the upper arm, and also the muscles of the lower arm—the brachialis and brachioradialis.1﻿ You use these muscles anytime you pick something up, which is common throughout daily life. Doing the standing arm curl, you build strength in the upper arm and learn to use your arm muscles correctly, bracing with your core muscles. 
               
            
          
             </p></div>
             
            <div class="imageBox"> <h1 style ="margin-top: 510px;margin-left:40% ;"> BICEP CURL</h1>
                
            </div>
            
        </section>
    </body>
</html>