<html>
    <head>
        <title>Diet</title>
        <link rel="stylesheet" href="css/sumo.css">

    </head>
    <body>
        <section>
            <div class="content">
                <h1>IMPORTANCE OF BALANCED DIET IN A HEALTHY LIFESTYLE</h1>
                <p> The importance of a balanced diet can’t be emphasized enough for a healthy lifestyle.
                       A healthy lifestyle can be attained by maintaining a balanced diet and keeping into consideration to meet all the essential nutrients required by the body.
                       A proper meal plan helps to attain ideal body weight and reduce the risk of chronic diseases like diabetes, cardiovascular and other types of cancer. </p>
             <p>
                 <h3> What is a balanced diet? </h3>
                 <p> But what exactly is a balanced diet? In simple words, it’s a diet that offers the nutrients to help your body function properly. 
                       The importance of diet lies in the intake of the right amount of calories.
                     Your body gets the right nutrition when you consume a wide variety of food rich in calories such as fresh fruits and vegetables, whole grains, and proteins. </p>
                 
                   
                <h3> What falls under a balanced diet? </h3>
                    <p> A balanced diet includes some specific healthy food groups under it: </p>

                   <ul>
                     <li> Vegetables such as leafy greens, starchy vegetables, legumes like beans and peas, red and orange vegetables, and others like eggplant</li>
                      <li> Fruits that include whole fruits, fresh or frozen fruits but not canned ones dipped in syrup </li>
                       <li> Grains such as whole grains and refined grains. For example, quinoa, oats, brown rice, barley, and buckwheat </li>
                        <li> Protein such as lean beef and pork, chicken, fish, beans, peas, and legumes </li>
                    </ul>
                          













             </p></div>
             <div class="imageBox"> <h1 style ="margin-top: 350px;margin-left:40% ;"> DIET</h1>

            
        </section>
    </body>
</html>