<html>
    <head>
        <title> exercise</title>
        <link rel="stylesheet" href="css/sumo.css">

    </head>
    <body>
        <section>
            <div class="content">
                <h1>Why Exercise Is Wise</h1>
                <p>
                    You've probably heard countless times how exercise is "good for you." But did you know that it can help you feel good too? Getting the right amount of exercise can rev up your energy levels and even help improve your mood.
                </p>
             <p>
                 <h3> Rewards and Benefits</h3>
                <p> Experts recommend that teens get 60 minutes or more of moderate to vigorous physical activity each day. Here are some of the reasons:  </p>
                 <ul>
               <li>Exercise benefits every part of the body, including the mind. Exercising causes the body to make chemicals that can help a person feel good. Exercise can help people sleep better. It can also help some people who have mild depression and low self-esteem. Plus, exercise can give people a real sense of accomplishment and pride at having achieved a goal — like beating an old time in the 100-meter dash. </li>
               <li>Exercise helps people lose weight and lower the risk of some diseases. Exercising regularly lowers a person's risk of developing some diseases, including obesity, type 2 diabetes, and high blood pressure. Exercise also can help keep your body at a healthy weight. </li>
               <li> Exercise can help a person age well. This may not seem important now, but your body will thank you later. For example, osteoporosis (a weakening of the bones) can be a problem as people get older. Weight-bearing exercise — like jumping, running, or brisk walking — can help keep bones strong.</li>
               
               </ul>
                 </div>
             
             <div class="imageBox3"> <h1 style ="margin-top: 350px;margin-left:40% ;"> Efficient Exercise</h1>
 
            
        </section>
    </body>
</html>