<%- include('partials/header'); %>
<style>
    body{
  background: linear-gradient(-235deg, #ffffff 0%, #25274D 55%, #ffffff 100%);
}
</style>
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5" style="font-family: 'Fresca', sans-serif;">
        <h2 class="mb-4">Exercises</h2>
        <div class="container-fluid" style="margin-top:20px;margin-bottom:20px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img style="height: 160px;width: 210px;" src="https://github.com/NiharikaDinesh/MajorProject-Images-/blob/main/bicepcurl.gif?raw=true" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Bicep Curl</h4>
                                <!-- <p class="card-text">Stand holding a dumbbell in each hand with your 
                                    arms hanging by your sides. Ensure your elbows are close to your 
                                    torso and your palms facing forward. Keeping your upper arms stationary,
                                     exhale as you curl the weights up to shoulder level while contracting your 
                                     biceps. Use a thumb-less grip, advises Edgley.</p> -->
                                     <hr>
                                     <div class="row">
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="/bicep">Exercise</a>
                                         </div>
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="bicepblog">Read More..</a>
                                         </div>
                                     </div>
                                     
                                     
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- squat -->
        <div class="container-fluid" style="margin-top:20px;margin-bottom:20px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img style="height: 160px;width: 210px;" src="https://github.com/NiharikaDinesh/MajorProject-Images-/blob/main/sqex.gif?raw=true" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Squats</h4>
                                <!-- <p class="card-text">Stand holding a dumbbell in each hand with your 
                                    arms hanging by your sides. Ensure your elbows are close to your 
                                    torso and your palms facing forward. Keeping your upper arms stationary,
                                     exhale as you curl the weights up to shoulder level while contracting your 
                                     biceps. Use a thumb-less grip, advises Edgley.</p> -->
                                     <hr>
                                     <div class="row">
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="/squat">Exercise</a>
                                         </div>
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="/squatblog">Read More..</a>
                                         </div>
                                     </div>
                                     
                                     
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- sumosquat -->

        <div class="container-fluid" style="margin-top:20px;margin-bottom:20px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img style="height: 160px;width: 210px;" src="https://github.com/NiharikaDinesh/MajorProject-Images-/blob/main/sumoex.gif?raw=true" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Sumo squat</h4>
                                <!-- <p class="card-text">Stand holding a dumbbell in each hand with your 
                                    arms hanging by your sides. Ensure your elbows are close to your 
                                    torso and your palms facing forward. Keeping your upper arms stationary,
                                     exhale as you curl the weights up to shoulder level while contracting your 
                                     biceps. Use a thumb-less grip, advises Edgley.</p> -->
                                     <hr>
                                     <div class="row">
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="/sumosquat">Exercise</a>
                                         </div>
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="/sumosquatblog">Read More..</a>
                                         </div>
                                     </div>
                                     
                                     
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        
        <!-- push-ups -->
        <div class="container-fluid" style="margin-top:20px;margin-bottom:20px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img style="height: 160px;width: 210px;" src="https://github.com/NiharikaDinesh/MajorProject-Images-/blob/main/pushup.gif?raw=true" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Push-Ups</h4>
                                <!-- <p class="card-text">Stand holding a dumbbell in each hand with your 
                                    arms hanging by your sides. Ensure your elbows are close to your 
                                    torso and your palms facing forward. Keeping your upper arms stationary,
                                     exhale as you curl the weights up to shoulder level while contracting your 
                                     biceps. Use a thumb-less grip, advises Edgley.</p> -->
                                     <hr>
                                     <div class="row">
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="/pushup">Exercise</a>
                                         </div>
                                         <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="pushupblog">Read More..</a>
                                         </div>
                                     </div>
                                     
                                     
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


      </div>
      
		</div>

       



    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
	<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/24884970.js"></script>
<!-- End of HubSpot Embed Code -->
  </body>
</html>