<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style2.css">

<div class="ternary-system">
  <div class="sun primary"></div>
  <div class="sun secondary"></div>
  <div class="sun ternary"></div>
</div>
<div class="sand">
<div class="pendulums">
  <div class="pendulum">
    <div class="bar"></div>
    <div class="motion">
      <div class="string"></div>
      <div class="weight"></div>
    </div>
  </div>
  <div class="pendulum shadow">
    <div class="bar"></div>
    <div class="motion">
      <div class="string"></div>
      <div class="weight"></div>
    </div>
  </div>
</div></div>
<div class="pyramid"></div>
<div class="text">
  <h1 class="title">Physical <strong>Aptitude</strong><em>Monitor</em></h1>
  <p>Stay Healthy!</p>
</div>

<div class="container mt-5">
  <h1>LOGIN</h1>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="text">First Name</label>
              <input type="text" class="form-control" name="fname">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">LOGIN</button>
          </form>

        </div>
      </div>
    </div>



  </div>
</div>

</body>
</html>
