<%- include('partials/mainHeader') %>


<!-- <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

</body>
</html> -->
<center><h1 style="font-family: 'Josefin Sans', sans-serif; margin-top: 10px;"> Physical Aptitude Monitor</h1></center>
<main class="card-container" style="margin-left: 380px;">
  <div class="card square-card">
  <a class="btn btn-light btn-lg" href="/register" role="button">REGISTER</a>
    <div class="down">
      <div class="up">
        <div class="squeeze">
        
          <div class="rotate-in">
            <div class="rotate-out">
            
              <div class="square"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card ball-bouncing">
    <div class="ball"></div>
  </div>
  <div class="card ball-movement">
    <div class="ball"></div>
  </div>
  <div class="card counter"><a class="btn btn-dark btn-lg" href="/login" role="button">LOGIN</a></div>
</main>




