<html>
    <head>
        <title> mental health</title>
        <link rel="stylesheet" href="css/sumo.css">

    </head>
    <body>
        <section>
            <div class="content">
                <h1>How to look after your mental health using exercise</h1>
                  <h4> There are many reasons why physical activity is good for your body – having a healthy heart and improving your joints and bones are just two, but did you know that physical activity is also beneficial for your mental health and wellbeing? </h4>
                  <p>We need to change the way we view physical activity in the UK in order not to see it as something we ‘have to do’, ‘should do’ or ‘ought to do’ for our health, but as something that we do because we personally value its positive benefits to our wellbeing.  </p>  
                   <h3> What is wellbeing?  </h3>
                      <p> The government defines wellbeing as ‘a positive physical, social and mental state’. For our purposes, we are focusing on mental wellbeing. </p>
                       <p> Mental wellbeing does not have a single universal definition, but it does encompass factors such as: </p>

                 <ul>
               <li>The sense of feeling good about ourselves and being able to function well individually or in relationships </li>
               <li>The ability to deal with the ups and downs of life, such as coping with challenges and making the most of opportunities </li>
               <li>The feeling of connection to our community and surroundings </li>
               <li>Having control and freedom over our lives </li>
               <li>Having a sense of purpose and feeling valued </li>               
               </ul>

          </div>
                            <div class="imageBox1"> <h1 style ="margin-top: 350px;margin-left:40% ;"> Mental Health</h1>

                                   </section>
                                             </body>
                                                     </html>