<html>
    <head>
        <title> PushUps</title>
        <link rel="stylesheet" href="css/sty.css">

    </head>
    <body>
        <section>
            <div class="content">
                <h1> PUSHUP</h1>
                <p>
                    A push-up is a common calisthenics exercise beginning from the prone position. By raising and lowering the body using the arms, push-ups exercise the pectoral muscles, triceps, and anterior deltoids, with ancillary benefits to the rest of the deltoids, serratus anterior, coracobrachialis and the midsection as a whole. Wikipedia
                </p>
             <p>
                 <h2> To do PushUp</h2>
                 <ol>
               <li> Start kneeling on an exercise mat or the floor and bring your feet together behind you.</li>
               <li>Bend forward to position yourself in a high plank, the top of a pushup position, with your palms flat on the mat, hands shoulder-width apart, and with your fingers facing forward or hands turned slightly in. Your shoulders should be positioned over your hands. Your feet should be together behind you and your back should be flat. Keep your abs pulled in.</li>
               <li> Slowly lower your body toward the floor. Maintain a rigid torso and keep your head aligned with your spine. Don’t let your low back sag or your hips hike upward.</li>
               <li>Continue to lower yourself until your chest or chin touch the ground. Your elbows may flare out during the downward movement.</li>
               <li>Press upward with your arms. Continue pressing until your arms are fully extended at your elbows and you’re back in the plank, at the top of the pushup position.</li>
               <li>Repeat the downward movement. Start with 10 pushups, or however many you can do with proper form, and work your way up as you build strength.</li>
               <br>
               </ol>
               <h1> BENEFITS</h1>
               1.Muscle Stretching for Health and Vitality.<br>
               2.Enhance Your Cardiovascular System.<br>
               3.HGH promotion. <br>
               4.Protect Your Shoulders from Injury. <br>
            
          
             </p></div>
             
            <div class="imageBox"> <h1 style ="margin-top: 300px;margin-left:40% ;"> PUSH UP</h1>
                
            </div>
            
        </section>
    </body>
</html>