<html>
    <head>
        <title> sleep</title>
        <link rel="stylesheet" href="css/sumo.css">

    </head>
    <body>
        <section>
            <div class="content">
                <h1>Importance Of Sleep In Fitness</h1>
                   
                <p>
                    According to the Centers for Disease Control and Prevention, more than 35 percent of people are sleep deprived, which means that 1 in 3 people aren't getting enough sleep on a regular basis.
                </p>
              <p> If you are working, going to school, or just have a hectic daily routine, I'm sure you can relate. Some people can function well on little to no sleep, while others feel the effects more. We have (wonderful) things like coffee, energy drinks and tea to help energize us on days we need a little boost—but becoming dependent on these things long term may not be ideal, especially if you are big into fitness. Isn't it funny how we dreaded bedtime as children and look forward to it as adults? Now I feel like I can never get enough of it, it feels like there simply aren't enough hours in a day.   </p>
                <p> Sleep and exercise are both key components of a healthy lifestyle. But if you had to choose between one or the other, which would it be? Cheri Mah, a sleep medicine researcher at Stanford University and the University of California, San Francisco was asked which was more important and she grudgingly responded sleep [4]. Sleeping may be just as crucial as training... and the lack of it can be the enemy of muscle... but why?  </p>

             <p>
                 <h3>Performance</h3>
              <p>If you aren't active, you may not need as much sleep as the next person. When you lead an active lifestyle, your body desperately needs rest. When you are well-rested, you perform at your best capacity.</p>
                 
               </div> 
             <div class="imageBox2"> <h1 style ="margin-top: 300px;margin-left:40% ;"> Good Sleep</h1>

        </section>
    </body>
</html>