<%- include('partials/blog'); %>
                <h1> SQUAT</h1>
                <p>The squat is a dynamic strength training exercise that requires several muscles in your upper and lower body to work together simultaneously.

                    Many of these muscles help power you through daily tasks such as walking, climbing stairs, bending, or carrying heavy loads. They also help you perform athletic-related activities.
                    
                    Adding squats to your workouts can help boost your exercise performance, decrease your risk of injury, and keep you moving more easily throughout the day. But these are just a few of the benefits.</p>
             <p>
                 <h2> To do Squat</h2>
               1. Start with your feet slightly wider than hip-width apart.<br>
               2. Keep your chest up, engage your abdominals, and shift your weight onto your heels as you push your hips back into a sitting position.<br>
               3. Lower your hips until your thighs are parallel or almost parallel to the floor.<br>
               4.You should feel the squat in your thighs and glutes.<br>
               5. Pause with your knees over, but not beyond, your toes.<br>
               6. Exhale and push back up to the starting position.
             </p></div>
             <div class="imageBox"> <h1 style ="margin-top: 300px;margin-left:40% ;"> SQUAT</h1>
             </section>
    </body>
</html>