<html>
    <head>
        <title> Sumo Sqaut</title>
        <link rel="stylesheet" href="css/sumosquat.css">

    </head>
    <body>
        <section>
            <div class="content">
                <h1>SUMO SQUAT</h1>
                <p>
                    "The sumo squat is a great lower-body strength exercise that emphasizes the muscles of the inner thigh, as well as the glutes, quads, hamstrings, hip flexors, and calves," says Lisa Niren, head instructor for Studio.
                </p>
             <p>
                 <h2> To do Sumo Squat</h2>
                 <ol>
               <li>Stand with your feet wider than hip-width apart. Give yourself a few feet and stand wide. </li>
               <li> Angle the toes out and away from the center of your body.</li>
               <li> Bend the knees and the hips to lower into your squat, squeezing your glutes at the bottom of the move.</li>
               <li>Be mindful to keep your back neutral and long, drawing the tailbone straight down to the floor each time. Avoid allowing your knees to go out beyond your toes or allowing your upper torso to lean forward.</li>
               <li>Once lowered, press up to standing, driving up through your heels.</li>
               <li>Start with 3 sets of 8-12 reps.</li>
               </ol>
               <h1> BENEFITS</h1>
               In general, squats are an excellent way to build lower body muscle, increase stability, and improve balance. Because squatting is a compound movement, it strengthens muscles that are used in everyday activity, such as walking, running, jumping, and climbing the stairs. 

<br>Sumo squats in particular increase activation of the adductors, which are the muscles that run down your inner thighs. It also poses a challenge to your core muscles, which are activated in different ways than during a conventional squat.   
               <br>
            
          
             </p></div>
             
            <div class="imageBox"> <h1 style ="margin-top: 350px;margin-left:40% ;"> SUMO SQUAT</h1>
                
            </div>
            
        </section>
    </body>
</html>